.textLeft {
    background-color: #5B53D1;
    width: 100%;
    height: 100%;
    border-radius: 2rem 0 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: 2rem;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textLogo {
    position: relative;
    margin-top: 7rem;
}

.img {
    border-radius: 50%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content:space-between;
    margin-top: 2rem;
}

.input {
    width: 51rem;
}

.textForm {
    font-size: 3rem;
    padding-left: 1rem;
    font-weight: normal;
}

.parrafo {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: justify;
}

.checkbox {
    padding-left: 1rem;
    cursor: pointer;
}

.button {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 92vh;
    margin-top: 3rem;
}

.buttonR {
    margin-right: 1rem;
    border: 1px solid #5B53D1;
    background-color: transparent;
    cursor: pointer;
    padding: .5rem;
    border-radius: 2rem;
    color: #5B53D1;
    font-size: 1rem;
}

.buttonR:hover {
    background-color: #c0bedb;
}

.buttoL {
    cursor: pointer;
    padding: .5rem;
    background-color: #5B53D1;
    border: none;
    color: #fff;
    border-radius: 2rem;
    font-size: 1rem;
}

.buttoL:hover {
    background-color: #c0bedb;
}