@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
.fileSelect {
    position: relative;
    display: inline-block;
  }
  
.fileSelect::before {
    background-color: #753cf8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    content: 'Seleccionar Imagen'; /* testo por defecto */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
  
  
.fileSelect input[type="file"] {
    opacity: 0;
    width: 200px;
    height: 32px;
    display: inline-block;
}
.buttonSubmit {
    background-color: #753cf8;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
  
#srcfile1::before {
    content: 'Seleccionar Imagen 1';
}
  
#srcfile2::before {
    content: 'Seleccionar Archivo 2';
}